
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1500366699629'); /* IE9*/
  src: url('iconfont.eot?t=1500366699629#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1500366699629') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1500366699629') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1500366699629#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-answer:before { content: "\e604"; }

.icon-app:before { content: "\e605"; }

.icon-browser:before { content: "\e606"; }

.icon-camera:before { content: "\e608"; }

.icon-cart:before { content: "\e60a"; }

.icon-check:before { content: "\e60b"; }

.icon-code:before { content: "\e60c"; }

.icon-computer:before { content: "\e60d"; }

.icon-copy:before { content: "\e60e"; }

.icon-Dditu:before { content: "\e602"; }

.icon-buzhouliebiao:before { content: "\e603"; }

.icon-danweishushouqi:before { content: "\e607"; }

.icon-Dditu1:before { content: "\e609"; }

.icon-bianji:before { content: "\e60f"; }

