/*
author:guanqi;
date:2019.2.19;
content: 重置样式;
*/
/* 公共部分 */
.container {
  width: 100%;
  height: 100%;
}
header,main,footer {
  margin: 0 auto;
  width: 960px;
}
header,main,section,aside,footer {
  box-sizing: border-box;
}
.icon {
  position: relative;
  top: 3px;
  margin-right: 4px;
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 0;
  background: url('../img/icon.png') no-repeat center;
  background-size: 100%;
}
.icon-html {
  background-position: 0 0;
}
.icon-css {
  background-position: 0 -16px;
}
.icon-js {
  background-position: 0 -32px;
}
.icon-e {
  background-position: 0 -48px;
}
.icon-t {
  background-position: 0 -64px;
}
/* 头部导航 */
header {
  margin-bottom: 20px;
  height: 60px;
  line-height: 60px;
  border-bottom: 2px solid #2b6ac8;
}
.logo {
  padding-left: 10px;
  color: #2b6ac8;
  font-weight: bold;
  font-size: 26px;
}
nav,.nav-index {
  float: right;
  margin-right: 10px;
}
#mywapnav,.wnav-bg {
  display: none;
}
.arrow {
  display: none;
  position: fixed;
  right: 12%;
  bottom: 60px;
  width: 35px;
  height: 35px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc;
  background: #fff url('../img/arrow.png') no-repeat;
  background-size: 100%;
  transition: all 0.2s;
}
.arrow:hover {
  cursor: pointer;
}
.nav-index li {
  float: left;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.nav-index li a {
  color: #333;
  font-weight: bold;
}
.nav-index li a:hover {
  color: #2b6ac8;
}
.nav-index li.active a {
  color: #2b6ac8;
}
/* 主要内容 */
section {
  float: left;
  width: 660px;
}
.post {
  margin-bottom: 20px;
  width: 655px;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
}
.post-title {
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 10px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  background-color: #f8f8f8;
}
.post-small-title {
  margin-left: 10px;
  color: #aaa;
  font-size: 13px;
}
.post-content {
  margin: 20px auto;
  padding-left: 10px;
  width: 100%;
}
.post-content li {
  width: 600px;
  line-height: 30px;
  font-size: 14px;
}
.post-type {
  margin: 15px 5px;
}
.post-type-title {
  padding-left: 10px;
  border-left: 5px solid #2b6ac8;
  color: #444;
}
.post-content li .update {
  float: right;
  margin-right: 10px;
  font-size: 12px;
  color: #555;
}
.post-content li a {
  color: #555;
}
.post-content li a:hover {
  color: #2b6ac8;
  text-decoration: underline;
}
/* 作者信息 */
aside {
  float: right;
  width: 300px;
}
.about {
  margin: 0 auto 20px auto;
  width: 280px;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
}
.about-title {
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 10px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: normal;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
}
.about-des {
  padding: 10px;
  width: 240px;
  line-height: 30px;
  font-size: 14px;
}
.about-img {
  display: block;
  margin: 10px auto;
  padding: 3px;
  width: 160px;
  height: 160px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #ccc;
}
.about-content {
  margin: 10px;
  width: 100%;
}
.about-content li {
  line-height: 30px;
  font-size: 14px;
}
.about-content li .update {
  float: right;
  font-size: 12px;
  color: #555;
}
.about-content li a {
  color: #555;
}
.about-content li a:hover {
  color: #2b6ac8;
  text-decoration: underline;
}
.about-link li {
  float: left;
  width: 50%;
}
/* 底部版权 */
footer {
  margin-top: 20px;
  height: 60px;
  line-height: 60px;
  text-align: left;
  font-size: 14px;
  color: #555;
  border-top: 1px solid #ccc;
}
footer a {
  margin: 0 5px;
  color: #2b6ac8;
}
/* 音乐 */
.music {
  position: fixed;
  bottom: 100px;
  right: -50px;
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  box-shadow: 2px 2px 2px #ccc;
  transition: all 0.3s;
  border-left: 10px solid #2b6ac8;
  background-color: #fff;
}
.music:hover {
  right: 0;
  border-left: 4px solid #2b6ac8;
}
.music-btn {
  position: relative;
  top: 10px;
  left: 15px;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  outline: none;
  border: none;
}
.start-btn {
  background: url('../img/start.png') no-repeat;
  background-size: 100%;
}
.pause-btn {
  background: url('../img/pause.png') no-repeat;
  background-size: 100%;
}
/* 加载特效 */
.load-box {
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.93;
}
.load {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -30px;
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}
.load > div {
  display: inline-block;
  height: 100%;
  width: 6px;
  background-color: #67CF22;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.load .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.load .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.load .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.load .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  } 
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
@media all and (max-width:750px) and (min-width:319px) {
  .icon {
    top: 3px;
    margin-right: 4px;
    width: 16px;
    height: 16px;
    line-height: 16px;
  }
  .icon-css {
    background-position: 0 -1rem;
  }
  .icon-js {
    background-position: 0 -2rem;
  }
  .icon-e {
    background-position: 0 -3rem;
  }
  .icon-t {
    background-position: 0 -4rem;
  }
  header,main,footer {
    margin: 0;
    width: 100%;
  }
  header {
    position: relative;
    margin-bottom: 1.25rem;
    height: 3.75rem;
    line-height: 3.75rem;
    border-bottom: 0.125rem solid #2b6ac8;
    text-align: center;
  }
  .logo {
    padding-left: 0.625rem;
    font-size: 1.625rem;
  }
  #mywapnav {
    display: block;
  }
  #navwap {
    position: absolute;
    top: 0.9375rem;
    left: 0.625rem;
    display: block;
    width: 1.875rem;
    height: 1.875rem;
    background: url('../img/menu.png') no-repeat;
    background-size: 100%;
  }
  .wnav-index {
    position: absolute;
    top: 0;
    left: -101%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 106, 200, 0.95);
    border-right: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ccc;
    z-index: 10;
    transition: all 0.3s;
  }
  .wnav-bg {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 8;
  }
  .nav-indexa {
    position: relative;
    top: 3rem;
    left: 7.5rem;
    box-sizing: border-box;
    padding: 10px;
    width: 10rem;
    height: 24rem;
  }
  .nav-indexa li {
    width: 100%;
    height: 3.75rem;
    line-height: 3.75rem;
    text-align: center;
    border-bottom: 0.0625rem solid #f8f8f8;
  }
  .nav-indexa li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
  }
  .silder-head {
    position: relative;
    top: 0.5rem;
    left: 7.5rem;
    box-sizing: border-box;
    padding: 10px;
    width: 10rem;
    height: 3rem;
    line-height: 3rem;
    color: #fff;
    text-align: center;
  }
  .silder-foot {
    position: relative;
    top: 4rem;
    left: 7.5rem;
    box-sizing: border-box;
    padding: 10px;
    width: 10rem;
    height: 3rem;
    line-height: 3rem;
    color: #fff;
    text-align: center;
  }
  .fixed-nav {
    left: -25%;
  }
  nav,.nav-index {
    display: none;
    margin-right: 0.625rem;
  }
  .nav-index li {
    width: 3rem;
    height: 3.75rem;
    line-height: 3.75rem;
  }
  /* 主要内容 */
  section {
    float: none;
    padding: 0.3125rem 1rem;
    width: 100%;
  }
  .post {
    margin-bottom: 1.25rem;
    width: 100%;
  }
  .post-title {
    width: 100%;
    padding-left: 0.625rem;
    height: 3.125rem;
    line-height: 3.125rem;
    font-size: 1.25rem;
    border-bottom: 0.0625rem solid #ccc;
  }
  .post-small-title {
    margin-left: 0.625rem;
    font-size: 0.8125rem;
  }
  .post-content {
    margin: 0.625rem auto;
    padding-left: 0.625rem;
    width: 100%;
  }
  .post-content li {
    width: 95%;
    line-height: 1.875rem;
    font-size: 0.85rem;
  }
  .post-type {
    margin: 0.9375rem 0.3125rem;
  }
  .post-type-title {
    padding-left: 0.625rem;
    border-left: 0.3125rem solid #2b6ac8;
  }
  .post-content li .update {
    float: right;
    margin-right: 0.625rem;
    font-size: 0.65rem;
    color: #555;
  }
  /* 作者信息 */
  aside {
    float: none;
    padding: 0.3125rem 1rem;
    width: 100%;
  }
  .about {
    margin-bottom: 1.25rem;
    width: 100%;
    border: 0.0625rem solid #e3e3e3;
    border-radius: 0.375rem;
  }
  .about-title {
    padding-left: 0.625rem;
    width: 100%;
    height: 3.125rem;
    line-height: 3.125rem;
    font-size: 1.25rem;
    border-bottom: 0.0625rem solid #ccc;
  }
  .about-des {
    padding: 0.625rem;
    width: 90%;
    line-height: 1.875rem;
    font-size: 0.875rem;
  }
  .about-img {
    margin: 0.625rem auto;
    padding: 0.1875rem;
    width: 10rem;
    height: 10rem;
    border: 0.0625rem solid #ccc;
    box-shadow: 0.125rem 0.125rem 0.125rem #ccc;
  }
  .about-content {
    margin: 0.625rem;
    width: 100%;
  }
  .about-content li {
    width: 45%;
    line-height: 1.875rem;
    font-size: 0.85rem;
  }
  .about-content li .update {
    font-size: 0.65rem;
  }
  /* 底部版权 */
  footer {
    margin-top: 1.25rem;
    height: 3.75rem;
    line-height: 3.75rem;
    text-align: center;
    font-size: 0.875rem;
    border-top: 0.0625rem solid #ccc;
  }
  footer a {
    margin: 0 0.3125rem;
  }
  /* 音乐 */
  .music {
    bottom: 6.25rem;
    right: -3.125rem;
    width: 3.75rem;
    height: 3.75rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem 0 0 0.3125rem;
    box-shadow: 0.125rem 0.125rem 0.125rem #ccc;
    border-left: 0.625rem solid #2b6ac8;
  }
  .music:hover {
    right: 0;
    border-left: 0.25rem solid #2b6ac8;
  }
  .music-btn {
    top: 0.625rem;
    left: 0.9375rem;
    width: 2.1875rem;
    height: 2.1875rem;
  }
  /* 加载特效 */
  .load {
    margin-left: -1.5625rem;
    margin-top: -1.875rem;
    width: 3.125rem;
    height: 3.75rem;
    font-size: 0.625re;
  }
  .load > div {
    width: 0.375rem;
  }
  /* goto */
  .arrow {
    right: 12%;
    bottom: 3.75rem;
    width: 2.1875rem;
    height: 2.1875rem;
    border:  0.0625rem solid #ccc;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem #ccc;
    z-index: 4;
  }
}